/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/stringstats -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input               = '/oak/stanford/groups/horence/kaitlin/stringstats/samplesheet_worm.csv'
    bowtie2_samplesheet = '/oak/stanford/groups/horence/kaitlin/bowtie2_annotations/references/small_bowtie2_index_samplesheet.csv'
    num_lines           = 100000
    stratifiy_level     = 2
    anchor_count_threshold = 4

    // Genome references
    genome = 'R64-1-1'
}
